@charset "UTF-8";
body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}

.alert-dismissable {
  margin-top: 20px;
}

.bg-white {
  color: #222;
  background-color: #fff;
}

.bg-orange {
  color: #fff;
  background-color: #ffb647;
}

.dashed-underline:after {
  position: relative;
  display: block;
  content: '- —';
  color: #ffb647;
  font-size: 40px;
  font-weight: 400;
}

.navbar-default {
  background-color: transparent;
  border: 0;
}

@media (min-width: 768px) {
  .navbar-default {
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .navbar-default .navbar-collapse {
    border: 0;
    box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.25);
  }
}

.navbar-default .navbar-toggle {
  border-color: #ffb647;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffb647;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #ffb647;
}

.navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:focus .icon-bar {
  background-color: #fff;
}

@media (min-width: 768px) {
  .navbar-nav {
    float: none;
    text-align: center;
    display: table;
    width: 100%;
  }
  .navbar-nav li {
    display: table-cell;
    float: none;
  }
  .navbar-nav li a {
    display: inline-block;
  }
  .navbar-nav li a:after {
    position: relative;
    top: 10px;
    display: block;
    content: "";
    width: 0;
    height: 4px;
    background: #ffb647;
    transition: width .15s;
  }
  .navbar-nav li a:hover:after {
    width: 100%;
  }
}

.hero {
  background-image: url(../img/hero-bg.jpg);
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-size: cover;
  background-position: center bottom;
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

@media (min-width: 768px) {
  .hero {
    min-height: 800px;
  }
}

@media (min-width: 1200px) {
  .hero {
    min-height: 1008px;
  }
}

.hero a {
  color: #aaa;
}

.hero a:hover, .hero a:focus {
  color: #ffb647;
}

.hero ul {
  margin-top: 50px;
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .hero ul {
    margin-top: 150px;
    margin-bottom: 100px;
  }
}

.hero li {
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #aaa;
}

.hero li:first-child {
  border-left: 0;
}

.hero h1 {
  position: relative;
}

@media (min-width: 768px) {
  .hero h1 {
    font-weight: 700;
  }
}

.hero h1:after {
  position: relative;
  top: 40px;
  display: block;
  content: '- — -';
  font-weight: 400;
}

.hero h3 {
  margin-top: 50px;
  margin-bottom: 120px;
}

@media (min-width: 768px) {
  .hero h3 {
    margin-top: 80px;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .section-a .col-sm-5 {
    margin-top: 20px;
  }
}

.section-a .item {
  min-height: 240px;
}

@media (min-width: 768px) {
  .section-a .item {
    text-align: center;
  }
}

.section-a .item h2 {
  margin-top: 90px;
}

@media (min-width: 768px) {
  .section-a .item h2 {
    margin-bottom: 30px;
  }
}

.section-a .carousel-indicators li, .section-a .carousel-indicators .active {
  margin-right: 7.5px;
}

.secAtabs {
  margin-top: 20px;
}

@media (min-width: 992px) {
  .secAtabs {
    margin-left: 40px;
  }
}

.secAtabs h3 {
  margin-top: 30px;
}

.nav-tabs {
  border-bottom: 1px solid #ffb647;
}

.nav-tabs > li {
  float: right;
}

.nav-tabs > li a {
  color: inherit;
}

.nav-tabs > li a:hover {
  background-color: transparent;
  border-color: #fff #fff #ddd;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #ffb647;
  border: 1px solid #ffb647;
  border-bottom-color: transparent;
}

.section-b {
  margin-top: 100px;
  margin-bottom: 50px;
}

.section-b .col-sm-4 {
  margin-bottom: 50px;
}

.section-b h3 {
  margin-bottom: 20px;
}

.section-c {
  overflow: hidden;
}

.section-c .sec-c-first {
  display: none;
  min-height: 300px;
  background-image: url(../img/monitor.jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
}

@media (min-width: 992px) {
  .section-c .sec-c-first {
    display: block;
  }
}

@media (min-width: 1200px) {
  .section-c .sec-c-first {
    min-height: 550px;
  }
}

@media (min-width: 992px) {
  .section-c .mid {
    padding-left: 40px;
  }
}

.section-c h2 {
  color: #ffb647;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .section-c h2 {
    font-size: 40px;
  }
}

.section-c .table > tbody > tr > th,
.section-c .table > tbody > tr > td {
  border-top: 0;
}

.section-c .bg-orange {
  padding-top: 50px;
  padding-bottom: 1000em;
  margin-bottom: -1000em;
}

@media (min-width: 1200px) {
  .section-c .bg-orange {
    padding-top: 100px;
  }
}

.section-c .bg-orange p {
  margin-top: 30px;
  margin-bottom: 50px;
}

.section-c .bg-orange p:after {
  display: block;
  content: '';
  width: 50px;
  height: 1px;
  margin: 50px auto;
  background: #fff;
}

.section-c h6 {
  margin-bottom: 50px;
}

.section-d {
  margin-top: 100px;
  margin-bottom: 50px;
}

.section-d .col-sm-1-5 {
  margin-bottom: 50px;
  text-align: center;
}

@media (min-width: 768px) {
  .section-d .col-sm-1-5 {
    width: 20%;
    text-align: left;
  }
}

.section-d .big-numbers {
  font-size: 50px;
}

.section-e {
  overflow: hidden;
}

.section-e .col-sm-4 {
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .section-e .col-sm-4 {
    min-height: 580px;
  }
}

@media (min-width: 992px) {
  .section-e .col-sm-4 {
    padding-left: 60px;
    padding-right: 60px;
  }
}

.section-e .col-sm-8 {
  padding-bottom: 1000em;
  margin-bottom: -1000em;
  background-image: url(../img/img-01.jpg);
  background-position: center top;
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.25);
}

.section-e h3 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.progress {
  height: 7px;
  margin-top: 10px;
  background-color: transparent;
  border-radius: 0;
  box-shadow: inset 0 1px 0px white;
  overflow: visible;
}

.progress-bar {
  background-color: #fff;
  line-height: 30px;
  text-align: right;
}

.media-left {
  min-width: 115px;
}

@media (max-width: 767px) {
  .media-left {
    display: block;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .media-left {
    min-width: 185px;
    text-align: right;
  }
}

@media (min-width: 768px) {
  .media-body {
    padding-left: 40px;
  }
}

.section-f {
  margin-top: 100px;
}

.gid-8 {
  margin-top: 50px;
  margin-bottom: 100px;
}

@media (min-width: 768px) {
  .gid-8 {
    border-top: 2px solid #ededed;
    border-left: 2px solid #ededed;
  }
}

.gid-8 .col-sm-6 {
  padding-top: 20px;
  padding-bottom: 20px;
}

@media (min-width: 768px) {
  .gid-8 .col-sm-6 {
    padding-top: 50px;
    padding-bottom: 50px;
    border-right: 2px solid #ededed;
    border-bottom: 2px solid #ededed;
  }
  .gid-8 .col-sm-6:hover {
    background-color: #222;
    color: #fff;
  }
}

.section-i {
  padding-top: 100px;
  padding-bottom: 100px;
  background-image: url(../img/polygons.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.section-i .carousel-control.left,
.section-i .carousel-control.right {
  background-image: none;
}

.section-i p {
  margin-bottom: 50px;
}

.section-j {
  margin-top: 100px;
  margin-bottom: 100px;
}

@media (min-width: 992px) {
  .section-j .creatives {
    padding-left: 20%;
    margin-top: 50px;
    margin-bottom: 100px;
  }
}

.brands {
  border-top: 2px solid #ededed;
  border-left: 2px solid #ededed;
}

@media (max-width: 767px) {
  .brands {
    margin-left: 0;
    margin-right: 0;
  }
}

.brands .col-xs-6 {
  border-right: 2px solid #ededed;
  border-bottom: 2px solid #ededed;
}

.brands-title {
  margin-bottom: 50px;
  text-align: center;
}

.section-k {
  padding-top: 50px;
  padding-bottom: 100px;
  text-align: center;
  background: #ededed;
}

.section-k .row {
  margin-top: 50px;
}

.section-k .col-xs-12 {
  padding-top: 50px;
  padding-bottom: 50px;
  border: 5px solid #eaeaea;
}

.section-k .price {
  padding: 10px 0;
  margin: 20px 0;
  border-top: 3px solid rgba(0, 0, 0, 0.05);
  border-bottom: 3px solid rgba(0, 0, 0, 0.05);
}

.section-k .bg-orange {
  border: 5px solid #ffca7a;
}

.section-k .list-unstyled {
  font-size: 15px;
  line-height: 1.75;
}

.section-k .btn-default {
  margin-top: 20px;
  color: inherit;
  background-color: inherit;
  border-radius: 0;
}

@media (min-width: 992px) {
  .section-k .row {
    padding-left: 10%;
  }
  .section-k .bg-orange {
    margin-left: 5%;
    margin-right: 5%;
  }
}

.map {
  position: relative;
  margin-top: 50px;
}

.map .panel {
  margin-bottom: 0;
  border: 0;
  border-radius: 0;
}

.map .bg-orange {
  cursor: pointer;
}

.map .bg-orange:hover {
  background-color: #ffa214;
}

.map .bg-orange .panel-body {
  padding-top: 0;
}

.map .IconCompass {
  position: relative;
  top: 10px;
  left: -10px;
}

.map .map-panel {
  position: relative;
}

.map .map-panel .panel-body {
  padding: 0;
}

.map .map-panel .panel-body:before, .map .map-panel .panel-body:after {
  position: absolute;
  left: 0;
  right: 0;
  display: block;
  height: 10px;
  z-index: 5;
}

.map .map-panel .panel-body:before {
  top: 0;
  box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.25);
}

.map .map-panel .panel-body:after {
  bottom: 0;
  box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5);
}

.map .gm-style-iw {
  text-align: center;
}

.footer {
  padding-top: 100px;
  padding-bottom: 50px;
  color: #fff;
  background: #222;
}

.footer .media-left {
  display: table-cell;
  min-width: auto;
}

@media (min-width: 768px) {
  .footer .media-body {
    padding-left: 10px;
  }
}

@media (max-width: 767px) {
  .footer .col-sm-8 {
    margin-top: 50px;
  }
}

.footer .form-control, .footer button {
  border-radius: 0;
}

.footer .form-control {
  min-height: 50px;
  margin-bottom: 30px;
  background: #222;
}

.footer textarea.form-control {
  min-height: 210px;
  background: #222;
}
