
$orange: #ffb647;
$gray-1 : #aaa;
$gray-2 : #ededed;
$dark: #222;
$w: #fff; 

body {
	font-family: 'Lato', sans-serif;
  font-size: 18px;
}
.alert-dismissable {
	margin-top: 20px;
}
.bg-white {
	color: $dark;
	background-color: $w;
}
.bg-orange {
	color: $w;
	background-color: $orange;
}
.dashed-underline:after {
	position: relative;
	display: block;
	content: '- —';
	color: $orange;
	font-size: 40px;
	font-weight: 400;
}
// Navigation
.navbar-default {
	background-color: transparent;
  border: 0;
  @media (min-width: 768px){
  	margin-bottom: 10px;
  }
	.navbar-collapse {
		@media (max-width: 767px){
	  	border: 0;
	  	box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.25);
		}	
	}
	.navbar-toggle {
	  border-color: $orange;
	}
	.navbar-toggle {
    .icon-bar {
    	background-color: $orange;
		}
		&:hover, &:focus {
    	background-color: $orange;
    	.icon-bar {
	    	background-color: $w;
			}
		}
	}
}
.navbar-nav {
	@media (min-width: 768px){
		float: none;
		text-align: center;
		display: table;
    width: 100%;
		li {
			display: table-cell;
			float: none;
			a {
				display: inline-block;				
				&:after {
					position: relative;
					top: 10px;
					display: block;
					content: "";
					width: 0;
					height: 4px;
					background: $orange;
					transition: width .15s;
				}
				&:hover:after {
					width: 100%;
				}
			}
		}
	}
}
// Hero
.hero {
	background-image: url(../img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-size: cover;
	background-position: center bottom;
	box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.5);
	@media (min-width: 768px){
		min-height: 800px;
	}
	@media (min-width: 1200px){
		min-height: 1008px;
	}
	a {
		color: $gray-1;
		&:hover, &:focus {
			color: $orange;
		}
	}
	ul {
		margin-top: 50px;
		margin-bottom: 50px;
		@media (min-width: 768px){
			margin-top: 150px;
			margin-bottom: 100px;
		}

	}
	li {
		padding-left: 10px;
		padding-right: 10px;
		border-left: 1px solid $gray-1;
		&:first-child {
			border-left: 0;
		}
	}
	h1 {
		position: relative;
		@media (min-width: 768px){
			font-weight: 700;
		}
		&:after {
			position: relative;
			top: 40px;
			display: block;
			content: '- — -';
			font-weight: 400;
		}
	}
	h3 {
		margin-top: 50px;
		margin-bottom: 120px;
		@media (min-width: 768px){
			margin-top: 80px;
			margin-bottom: 0;
		}
	}
}
// Section A
.section-a {
	.col-sm-5 {
		@media (max-width: 767px){
			margin-top: 20px;
		}		
	}
	// Carousel
	.item {
		@media (min-width: 768px){
			text-align: center;
		}
		min-height: 240px;
		h2 {
			margin-top: 90px;
			@media (min-width: 768px){
				margin-bottom: 30px;
			}	
		}
	}
	.carousel-indicators {
		li, .active {
			margin-right: 7.5px;
		}
	}	
}
// Tabs
.secAtabs {
	margin-top: 20px;
	@media (min-width: 992px){
		margin-left: 40px;
	}
	h3 {
		margin-top: 30px;
	}
}

.nav-tabs {
	border-bottom: 1px solid $orange;
	& > li {
		float: right;
		a {
	    color: inherit;	
		}
		a:hover {
		  background-color: transparent;
		  border-color: $w $w #ddd;		
		}
		&.active > a, 
		&.active > a:hover, 
		&.active > a:focus {
			color: $orange;
			border: 1px solid $orange;
			border-bottom-color: transparent;
		}
	}
}
// Section B
.section-b {
	margin-top: 100px;
	margin-bottom: 50px;
	.col-sm-4 {
		margin-bottom: 50px;
	}
	h3 {
		margin-bottom: 20px;		
	}
}
// Section C
.section-c {
	overflow: hidden;
	.sec-c-first {
		display: none;
		min-height: 300px;
		background-image: url(../img/monitor.jpg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left center;
		@media (min-width: 992px){
			display: block;
		}
		@media (min-width: 1200px){
			min-height: 550px;
		}
	}
	.mid {
		@media (min-width: 992px){
			padding-left: 40px;
		}
	}	
	h2 {
		color: $orange;
		margin-bottom: 20px;
		@media (min-width: 768px){
			font-size: 40px;
		}	
	}
	.table > tbody > tr > th,
	.table > tbody > tr > td {
		border-top: 0;
	}
	.bg-orange {
		padding-top: 50px;
		@media (min-width: 1200px){
			padding-top: 100px;
		}
		padding-bottom: 1000em;
		margin-bottom: -1000em;
		p {
			margin-top: 30px;
			margin-bottom: 50px;
			&:after {
				display: block;
				content: '';
				width: 50px;
				height: 1px;
				margin: 50px auto;
				background: $w;
			}
		}
	}
	h6 {
		margin-bottom: 50px;
	}
}

// Section D
.section-d {
	margin-top: 100px;
	margin-bottom: 50px;
	.col-sm-1-5 {
		margin-bottom: 50px;
		text-align: center;
		@media (min-width: 768px){
			width: 20%;
			text-align: left;
		}
	}
	.big-numbers {
		font-size: 50px;
	}
}
// Section E
.section-e {
	overflow: hidden;
	.col-sm-4 {
		padding-bottom: 20px;
		@media (min-width: 768px){
			min-height: 580px;
		}
		@media (min-width: 992px){
			padding-left: 60px;
			padding-right: 60px;
		}
	}
	.col-sm-8 {
		padding-bottom: 1000em;
    margin-bottom: -1000em;
    background-image: url(../img/img-01.jpg);
    background-position: center top;
    box-shadow: inset 0 10px 10px -10px rgba(0,0,0,0.25);
	}
	h3 {
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

.progress {
	height: 7px;
	margin-top: 10px;
	background-color: transparent;
	border-radius: 0;
	box-shadow: inset 0 1px 0px rgb(255, 255, 255);
	overflow: visible;
}
.progress-bar {
	background-color: $w;
	line-height: 30px;
	text-align: right;
}
// Section F

.media-left {
	min-width: 115px;
	@media (max-width: 767px){
		display: block;
		text-align: center;
	}
	@media (min-width: 768px){
		min-width: 185px;
		text-align: right;
	}
}	
.media-body {
	@media (min-width: 768px){
		padding-left: 40px;
	}	
}

.section-f {
	margin-top: 100px;
}
.gid-8 {
	margin-top: 50px;
	margin-bottom: 100px;
	@media (min-width: 768px){
		border-top: 2px solid $gray-2;
		border-left: 2px solid $gray-2;
	}

	.col-sm-6 {
		padding-top: 20px;
		padding-bottom: 20px;
		@media (min-width: 768px){
			padding-top: 50px;
			padding-bottom: 50px;
			border-right: 2px solid $gray-2;
			border-bottom: 2px solid $gray-2;
			&:hover {
				background-color: $dark;
				color: $w;
			}
		}
		@media (min-width: 992px){
		}
	}
}

// Section I
.section-i {
	padding-top: 100px;
	padding-bottom: 100px;
	background-image: url(../img/polygons.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	.carousel-control.left,
	.carousel-control.right {
		background-image: none;
	}
	p {
		margin-bottom: 50px;
	}
}
// Section J
.section-j {
	margin-top: 100px;
	margin-bottom: 100px;
	@media (min-width: 992px){
		.creatives {
			padding-left: 20%;
			margin-top: 50px;
			margin-bottom: 100px;
		}
	}
}
.brands {
	border-top: 2px solid $gray-2;
	border-left: 2px solid $gray-2;
	@media (max-width: 767px){
		margin-left: 0;
		margin-right: 0;
	}	
	.col-xs-6 {
		border-right: 2px solid $gray-2;
		border-bottom: 2px solid $gray-2;
	}
}
.brands-title {
	margin-bottom: 50px;
	text-align: center;
}
// Section K
.section-k {
	padding-top: 50px;
	padding-bottom: 100px;
	text-align: center;
	background: $gray-2;
	.row {
    margin-top: 50px;
	}
	.col-xs-12 {
		padding-top: 50px;
		padding-bottom: 50px;
		border: 5px solid lighten($gray-1, 25%);
	}
	.price {
		padding: 10px 0; 
		margin: 20px 0;
		border-top: 3px solid rgba(0,0,0,.05);
		border-bottom: 3px solid rgba(0,0,0,.05);
	}
	.bg-orange {
		border: 5px solid lighten($orange, 10%);
	}
	.list-unstyled {
		font-size: 15px;
    line-height: 1.75;
	}
	.btn-default {
		margin-top: 20px;
		color: inherit;
		background-color: inherit;
		border-radius: 0;
		&:hover {
			border-color: $dark;
		}
	}
	@media (min-width: 992px){
		.row {
			padding-left: 10%;
		}
		.bg-orange {
			margin-left: 5%;
			margin-right: 5%;
		}
	}
}
// Section L
.section-l {
	padding-top: 50px;
}
// Google map
.map {
	position: relative;
	margin-top: 50px;
	.panel {
		margin-bottom: 0;
		border: 0;
		border-radius: 0;		
	}
	.bg-orange {
		cursor: pointer;
		&:hover {
			background-color: darken($orange, 10%);
		}
		.panel-body {
			padding-top: 0;
		}
	}
	.IconCompass {
		position: relative;
    top: 10px;
    left: -10px;
	}
	.map-panel {
		position: relative;
		.panel-body {
			padding: 0;
			&:before,
			&:after {
		    position: absolute;
		    left: 0;
		    right: 0;
		    display: block;
		    height: 10px;
		    z-index: 5;		
			}
			&:before {
				top: 0;
		    box-shadow: inset 0 10px 10px -10px rgba(0, 0, 0, 0.25);		
			}
			&:after {
				bottom: 0;
		    box-shadow: inset 0 -10px 10px -10px rgba(0, 0, 0, 0.5);		
			}
		}
	}
	.gm-style-iw {
		text-align: center;
	}
}
// Footer
.footer {
	padding-top: 100px;
	padding-bottom: 50px;
	color: $w;
	background: $dark;
	.media-left {
		display: table-cell;
		min-width: auto;
	}
	@media (min-width: 768px){
		.media-body {
	    padding-left: 10px;
		}
	}	
	@media (max-width: 767px){
		.col-sm-8 {
			margin-top: 50px;
		}
	}
	.form-control, button {
		border-radius: 0;
	}
	.form-control {
		min-height: 50px;
		margin-bottom: 30px;
		background: $dark;
	}
	textarea.form-control {
		min-height: 210px;
		background: $dark;
	}
	.btn {
		border-color: transparent;
		background-color: $w;
		color: $dark;
		&:hover {
			background-color: $orange;
		}
	}
}
