
$orange: #ffb647;
$gray-1 : #aaa;
$w: #fff; 

body {
	font-family: 'Lato', sans-serif;
  font-size: 18px;
}
.alert-dismissable {
	margin-top: 20px;
}
.bg-orange {
	color: $w;
	background-color: $orange;
}
.dashed-underline-left:after {
	position: relative;
	display: block;
	content: '- —';
	color: $orange;
	font-size: 40px;
	font-weight: 400;
}
// Navigation
.navbar-default {
	background-color: transparent;
  border: 0;
  @media (min-width: 768px){
  	margin-bottom: 10px;
  }
	.navbar-collapse,
	.navbar-toggle {
	  border-color: $orange;
	}
	.navbar-toggle {
    .icon-bar {
    	background-color: $orange;
		}
		&:hover, &:focus {
    	background-color: $orange;
    	.icon-bar {
	    	background-color: $w;
			}
		}
	}
}
.navbar-nav {
	@media (min-width: 768px){
		float: none;
		text-align: center;
		display: table;
    width: 100%;
		li {
			display: table-cell;
			float: none;
			a {
				display: inline-block;				
				&:after {
					position: relative;
					top: 10px;
					display: block;
					content: "";
					width: 0;
					height: 4px;
					background: $orange;
					transition: width .15s;
				}
				&:hover:after {
					width: 100%;
				}
			}
		}
	}
}
// Hero
.hero {
	background-image: url(../img/hero-bg.jpg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-size: cover;
	background-position: center bottom;
	@media (min-width: 768px){
		min-height: 800px;
	}
	@media (min-width: 1200px){
		min-height: 1008px;
	}
	a {
		color: $gray-1;
		&:hover, &:focus {
			color: $orange;
		}
	}
	ul {
		margin-top: 50px;
		margin-bottom: 50px;
		@media (min-width: 768px){
			margin-top: 150px;
			margin-bottom: 100px;
		}

	}
	li {
		padding-left: 10px;
		padding-right: 10px;
		border-left: 1px solid $gray-1;
		&:first-child {
			border-left: 0;
		}
	}
	h1 {
		position: relative;
		@media (min-width: 768px){
			font-weight: 700;
		}
		&:after {
			position: relative;
			top: 40px;
			display: block;
			content: '- — -';
			font-weight: 400;
		}
	}
	h3 {
		margin-top: 50px;
		margin-bottom: 120px;
		@media (min-width: 768px){
			margin-top: 80px;
			margin-bottom: 0;
		}
	}
}
// Section A
.section-a {
	.col-sm-5 {
		@media (max-width: 767px){
			margin-top: 20px;
		}		
	}
	// Carousel
	.item {
		@media (min-width: 768px){
			text-align: center;
		}
		min-height: 240px;
		h2 {
			margin-top: 40px;
			// margin-bottom: 10px;
			@media (min-width: 768px){
				margin-bottom: 30px;
			}	
		}
	}
	.carousel-indicators {
		li, .active {
			margin-right: 7.5px;
		}
	}	
}
// Tabs
.secAtabs {
	margin-top: 20px;
}

.nav-tabs {
	border-bottom: 1px solid $orange;
	& > li {
		float: right;
		a {
	    color: inherit;	
		}
		a:hover {
		  background-color: transparent;
		  border-color: $w $w #ddd;		
		}
		&.active > a, 
		&.active > a:hover, 
		&.active > a:focus {
			color: $orange;
			border: 1px solid $orange;
			border-bottom-color: transparent;
		}
	}
}
// Section B
.section-b {
	margin-top: 100px;
	margin-bottom: 50px;
	.col-sm-4 {
		margin-bottom: 50px;
	}
	h3 {
		margin-bottom: 20px;		
	}
}
// Section C
.section-c {
	overflow: hidden;
	.sec-c-first {
		display: none;
		min-height: 300px;
		background-image: url(../img/monitor.jpg);
		background-size: contain;
		background-repeat: no-repeat;
		background-position: left center;
		@media (min-width: 992px){
			display: block;
		}
		@media (min-width: 1200px){
			min-height: 550px;
		}
	}
	.mid {
		@media (min-width: 992px){
			padding-left: 40px;
		}
	}	
	h2 {
		color: $orange;
		margin-bottom: 20px;
		@media (min-width: 768px){
			font-size: 40px;
		}	
	}
	.table > tbody > tr > th,
	.table > tbody > tr > td {
		border-top: 0;
	}
	.bg-orange {
		padding-top: 50px;
		@media (min-width: 1200px){
			padding-top: 100px;
		}
		padding-bottom: 1000em;
		margin-bottom: -1000em;
		p {
			margin-top: 30px;
			margin-bottom: 50px;
			&:after {
				display: block;
				content: '';
				width: 50px;
				height: 1px;
				margin: 50px auto;
				background: $w;
			}
		}
	}
	h6 {
		margin-bottom: 50px;
	}
}

// Section D
.section-d {
	margin-top: 100px;
	margin-bottom: 50px;
	.col-sm-1-5 {
		margin-bottom: 50px;
		text-align: center;
		@media (min-width: 768px){
			width: 20%;
			text-align: left;
		}
	}
	.big-numbers {
		font-size: 50px;
	}
}
// Section E
.section-e {
	overflow: hidden;
	.col-sm-4 {
		padding-bottom: 20px;
		@media (min-width: 768px){
			min-height: 580px;
		}
		@media (min-width: 992px){
			padding-left: 60px;
			padding-right: 60px;
		}
	}
	.col-sm-8 {
		padding-bottom: 1000em;
    margin-bottom: -1000em;
    background-image: url(../img/img-01.jpg);
    background-position: center top;
	}
	h3 {
		margin-top: 50px;
		margin-bottom: 50px;
	}
}

.progress {
	height: 7px;
	margin-top: 10px;
	background-color: transparent;
	border-radius: 0;
	box-shadow: inset 0 1px 0px rgb(255, 255, 255);
	overflow: visible;
}
.progress-bar {
	background-color: $w;
	line-height: 30px;
	text-align: right;
}
.sectionF {
	.media-left {
		min-width: 130px;
	}	
}